<link rel='stylesheet' href='../../../footer.css' />
<footer class='wrapper'>
	<section class='upfooter'>
		<span class='upfooter__social'>
			<a href='#'><img
					class='social__icon'
					src="/assets/Twitter.svg"
					alt='Twitter'
				/></a>
			<a href='#'><img
					class='social__icon'
					src="/assets/VKontakte.svg"
					alt='VKontakte'
				/></a>
			<a href='#'>
				<img class='social__icon' src="/assets/Facebook.svg" alt='Facebook' />
			</a>
		</span>
		<span class='upfooter__suptext'>
			<p class='suptext__cond'>Полные условия акции</p>
			<img class='sup__age' src='/assets/16+.svg' alt='' />
		</span>
	</section>
	<section class='downfooter'>
		<span class='ya_ustal_vidumivat_classi'>
			<img src="/assets/Logo.svg" alt='Logo' />
			<p class='small_text'>© Tele2 Россия, 2021</p>
		</span>
		<span class='ya_ustal_vidumivat_classi--none'>
			<p class='small__text2'>Сделано в Студии Олега Чулакова</p>
			<img
				class='logo__chulakov'
				src="/assets/logo_chulakov.svg"
				alt='chulakov'

			/>
		</span>

	</section>

</footer>