<link rel='stylesheet' href='../../../footer.css' />
<footer class='wrapper'>
	<section class='section_12'>
		<span class='social'>
			<a href=''><img src='/assets/Twitter.svg' alt='' /></a>
			<a href=''><img src='/assets/VKontakte.svg' alt='' /></a>
			<a href=' '> <img src='/assets/Facebook.svg' alt='' /> </a>
		</span>
		<span class='sup_text'>
			<p>Полные условия акции</p>
			<img class='img32' src='/assets/16+.svg' alt='' />
		</span>
	</section>
	<section class='section_22'>
		<span class='ya_ustal_vidumivat_classi'>
			<img src='/assets/Logo.svg' alt='Logo' />
			<p class='small_text'>© Tele2 Россия, 2021</p>
		</span>
		<span class='ya_ustal_vidumivat_classi'>
			<p class='small_text'>Сделано в Студии Олега Чулакова</p>
			<img class='img_chulakov' src='/assets/logo_chulakov.svg' alt='chulakov' />
		</span>

	</section>

</footer>