<link rel="stylesheet" href="../../../header.css">
<header>  
  <nav class="header_nav">
    <ul class="header_list">
      <li><img src="../../public/assets/Logo.svg" alt="Logo" /></li>
      <li>
        <figure class="header_geo">
          <img src="../../public/assets/Location.svg" alt="geo" />
          <figcaption class="header_city">Пятигорск</figcaption>
        </figure>
      </li>
    </ul>
  </nav>
</header>